@import url(../fonts/fontello/css/fontello-embedded.css);
*{
	margin: 0px;
	padding: 0px;
}
.clearfix{
	clear: both;
}
input{
    margin-top: 51px;
	background-color: #ffffff;
	border: none;
	font-size: 16px;
	padding: 10px 0px 5px 0px;
    outline: none;
    border-radius: 5%;
}


.expandSearch,
.expandSearch input,
.expandSearch a{
    float:left;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}


.expandSearch input{
	height: 22px;
	overflow: hidden;
	width: 0px;
	opacity: 0;
}


.showSearch input{
	margin-left: 10px;
	width: 125px;
	opacity: 1;
}
