@import url(../fonts/font-awesome/css/font-awesome.css);
@import url(../fonts/fontello/css/fontello-embedded.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto");
@import url(../stylesheets/search.css);
@import url(../stylesheets/slendr.min.css);
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1920px;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.slider {
  position: relative;
  border-top: 1px solid transparent;
  height: 1024px;
  width: 1920px;
  background-image: url(../img/photo.jpg);
}

.slider .upper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  max-width: 1920px;
  display: flex;
}

.slider .upper .sliderblock {
  position: absolute;
  left: 666px;
  top: 381px;
}

.slider label {
  display: none;
  width: 50px;
  height: 50px;
  background-image: url(../img/if_menu.svg);
  background-size: 100%;
}

.slider #menu {
  display: none;
}

.slider #menu[type="checkbox"]:checked ~ .menu {
  visibility: visible;
  transition: 1s;
}

.logo {
  margin-top: 40px;
  margin-left: 600px;
  display: block;
  width: 180px;
  height: 56px;
  font-family: Raleway;
  font-size: 34px;
  letter-spacing: -1.4px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  align-items: center;
  display: flex;
  transition: 0.3s;
}

.logo:hover {
  opacity: 0.6;
}

.menu {
  margin-left: 189px;
  margin-top: 62px;
  max-width: 700px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.menu li {
  padding-left: 30px;
}

.menu a {
  text-decoration: none;
  width: 42px;
  height: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  transition: 0.3s;
}

.menu a:hover {
  width: 64px;
  height: 11px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #c7b299;
  transition: 0.3s;
}

.card {
  text-decoration: none;
  width: 18px;
  height: 24px;
  font-size: 24px;
  color: #ffffff;
  margin-top: 55px;
  padding-left: 50px;
}

.card:hover {
  color: #c7b299;
  transition: 0.2s;
}

.search {
  margin-top: 57px;
  font-size: 24px;
  margin-left: 15px;
  width: 24px;
  height: 24px;
  color: #ffffff;
}

.search:hover {
  color: #c7b299;
  transition: 0.2s;
}

.textblock {
  width: 590px;
  text-align: center;
}

.textblock h4 {
  height: 34px;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.textblock h1 {
  padding-top: 15px;
  height: 50px;
  font-family: Raleway;
  font-size: 52px;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}

.textblock p {
  padding-top: 20px;
  height: 39px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.button {
  text-transform: uppercase;
  position: relative;
  margin-top: 52px;
  display: inline-block;
  text-decoration: none;
  width: 170px;
  height: 53px;
  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset -0px -3px 0 0 #736357;
  vertical-align: middle;
  outline: none;
}

.button:hover {
  background-color: #a39282;
}

.button:active {
  position: relative;
  top: 1px;
  right: 1px;
  box-shadow: inset -0px -1px 0 0 #736357;
  background-color: #998675;
}

.button .get {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  color: #ffffff;
  position: absolute;
  left: 40px;
  top: 15px;
}

.button .purchase {
  height: 11px;
  width: 94px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  color: #ffffff;
  position: absolute;
  left: 25px;
  top: 15px;
}

.button .galarybut {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 40px;
  top: 15px;
}

.topsection {
  min-height: 1075px;
  width: 1920px;
  background-color: #fbfaf8;
  background-image: url(../img/browser-center.jpg), url(../img/browser-left.jpg), url(../img/browser-right.jpg);
  background-repeat: no-repeat;
  background-position: bottom center, bottom left 346px, bottom right 344px;
}

.topsection .links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 402px;
  padding-right: 424px;
  background-color: #ffffff;
  padding-bottom: 80px;
}

.topsection .forlink {
  display: block;
  height: 210px;
  width: 266px;
  margin-top: 80px;
  position: relative;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
}

.topsection .forlink:before {
  position: absolute;
  top: 225px;
  left: 98px;
  width: 70px;
  border-bottom: 3px solid #f1eee9;
  content: "";
  transition: 0.4s;
}

.topsection .forlink:hover h3 {
  color: #c7b299;
}

.topsection .forlink:hover::before {
  border-bottom-color: #c7b299;
}

.topsection .forlink:hover i {
  color: #c7b299;
}

.topsection .forlink figure {
  height: 110px;
}

.topsection .forlink figcaption {
  height: 80px;
}

.topsection .forlink h3 {
  transition: color 0.5s;
  line-height: 0px;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #555555;
}

.topsection .forlink p {
  padding-top: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #8c8c8c;
}

.topsection .forlink i {
  transition: color 0.5s;
}

.textback {
  padding-top: 83px;
  margin: auto;
  width: 757px;
  display: flex;
  flex-direction: column;
}

.textback h2 {
  display: inline-block;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #555555;
}

.textback p {
  padding-top: 25px;
  height: 43px;
  display: inline-block;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  color: #8c8c8c;
}

.icon-icon2 {
  color: #555555;
  width: 49px;
  height: 49px;
  font-size: 49px;
}

.icon-icon1 {
  color: #555555;
  width: 52px;
  height: 36px;
  font-size: 36px;
}

.icon-icon {
  color: #555555;
  width: 44px;
  height: 44px;
  font-size: 44px;
}

.icon-icon3 {
  color: #555555;
  width: 44px;
  height: 40px;
  font-size: 40px;
}

.gside {
  width: 1920px;
  background-image: linear-gradient(to right, #211b19, #4e3427);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gside h2 {
  font-family: Raleway;
  font-size: 28px;
  text-align: left;
  color: #ffffff;
  font-weight: 200;
}

.gside h2 span {
  color: #c7b299;
}

.gside a {
  margin-right: 376px;
}

.gside .aside_text {
  width: 530px;
  margin-top: 48px;
  margin-left: 376px;
  margin-bottom: 50px;
}

.gside .aside_text p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #615855;
}

.barr {
  align-content: center;
}

.galary {
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1170px;
}

.galary article {
  width: 370px;
  margin-top: 30px;
  background-color: #fbfaf8;
  position: relative;
  transition: 0.5s;
}

.galary article:after {
  content: '';
  position: absolute;
  left: 19px;
  bottom: 105px;
  border: 20px solid transparent;
  border-bottom: 12px solid #fbfaf8;
  z-index: 1;
  transition: 0.5s;
}

.galary article:hover {
  background-color: #362f2d;
}

.galary article:hover:after {
  border-bottom-color: #362f2d;
}

.galary article:hover:hover:before {
  opacity: 0.7;
}

.galary article:hover:hover a {
  opacity: 1;
}

.galary article:hover h4 {
  color: #ffffff;
}

.galary article:hover p {
  transition: 0.5s;
  color: #c7b299;
}

.galary article:before {
  content: "";
  width: 370px;
  height: 237px;
  background-color: #111111;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: opacity 0.5s;
}

.galary article .links {
  text-decoration: none;
  color: #ffffff;
  margin: 0 auto;
  width: 26px;
  height: 26px;
  font-size: 26px;
  z-index: 1;
  position: absolute;
  left: 144px;
  top: 106px;
  opacity: 0;
  transition: color 0.5s;
  transition: opacity 0.5s;
}

.galary article .links:hover {
  color: #c7b299;
}

.galary article .lupa {
  text-decoration: none;
  color: #ffffff;
  margin: 0 auto;
  width: 26px;
  height: 26px;
  font-size: 26px;
  z-index: 1;
  position: absolute;
  left: 198px;
  top: 106px;
  opacity: 0;
  transition: color 0.5s;
  transition: opacity 0.5s;
}

.galary article .lupa:hover {
  color: #c7b299;
}

.galary h4 {
  padding-left: 28px;
  padding-top: 20px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #c7b299;
  transition: 0.5s;
}

.galary p {
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 27px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  text-align: left;
  color: #d1d1d1;
  transition: 0.5s;
}

.galary a {
  transition: 0.5s;
  margin-top: 40px;
  margin-left: 500px;
  margin-bottom: 80px;
}

.barr_menu {
  margin-top: 42px;
  margin-left: 658px;
  width: 605px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.barr_menu a {
  display: block;
  height: 32px;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.3;
  text-align: center;
  color: #8c8c8c;
}

.barr_menu a:hover {
  background-color: #998675;
  color: #ffffff;
  transition: 0.2s;
}

.barr_menu .all {
  width: 70px;
}

.barr_menu .other {
  width: 120px;
}

.barr_menu .photo {
  width: 135px;
}

.videoblock {
  position: relative;
}

.videoblock .shadow {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #111111;
  position: absolute;
  top: 210px;
  left: 911px;
  border-radius: 50%;
  z-index: 0.9;
  opacity: 0;
  transition: opacity 0.7s;
}

.videoblock:hover .shadow {
  opacity: 0.7;
}

.videoblock:hover .textvideo {
  opacity: 1;
}

.videoblock button {
  all: unset;
}

.videoblock .play {
  outline: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 225px;
  left: 926px;
  z-index: 1;
  opacity: 0.7;
  transition: opacity 0.4s;
  background-image: url(../img/icon-play.png);
  background-position: 100%;
}

.videoblock .play:hover {
  opacity: 1;
}

.videoblock .play:active {
  opacity: 0.8;
  transition: opacity 0.4s;
}

.videoblock .pause {
  display: none;
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 600px;
  left: 500px;
  z-index: 1;
  opacity: 0.7;
  transition: opacity 0.4s;
  background-image: url(../img/pause.svg);
  background-position: 100%;
}

.videoblock .pause:hover {
  opacity: 1;
}

.videoblock .pause:active {
  opacity: 0.8;
  transition: opacity 0.4s;
}

.videoblock .closevid {
  display: none;
  outline: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 600px;
  left: 400px;
  z-index: 1;
  opacity: 0.7;
  transition: opacity 0.4s;
  background-image: url(../img/close.svg);
  background-position: 100%;
}

.videoblock .closevid:hover {
  opacity: 1;
}

.videoblock .closevid:active {
  opacity: 0.8;
  transition: opacity 0.4s;
}

.videoblock .textvideo {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 552px;
  position: absolute;
  top: 354px;
  left: 685px;
  opacity: 0.2;
  transition: opacity 1.5s;
}

.videoblock .textvideo h2 {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.videoblock .textvideo p {
  padding-top: 29px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  color: #ffffff;
}

.video {
  width: 1920px;
  height: 705px;
  position: relative;
}

.mobile {
  background-color: #fbfaf8;
  display: flex;
  width: 1920px;
}

.mobile img {
  margin-left: 423px;
  margin-top: 80px;
}

.text_mobile {
  margin-top: 195px;
  margin-left: 30px;
  width: 657px;
  display: flex;
  flex-direction: column;
}

.text_mobile h2 {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #555555;
}

.text_mobile p {
  padding-top: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  text-align: left;
  color: #8c8c8c;
  padding-bottom: 40px;
}

.text_mobile ul {
  padding-left: 50px;
  list-style-type: none;
}

.text_mobile li {
  padding-left: 50px;
  background: url(../img/list-style.png) no-repeat left center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  text-align: left;
  color: #8c8c8c;
}

.calc {
  padding-bottom: 70px;
  padding-top: 70px;
  margin: 0 auto;
  height: 160px;
  width: 920px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.calc figure {
  width: 100%;
}

.calc h2 {
  padding-top: 30px;
  height: 34px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 200;
  line-height: 0.75;
  text-align: center;
  color: #ffffff;
}

.calc p {
  text-transform: uppercase;
  padding-top: 21px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  text-align: center;
  color: #c7b299;
}

.calc span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-bottom: 2px solid #ffffff;
}

.Post_link {
  margin-top: 40px;
  margin-left: 375px;
  margin-right: 375px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Post_link article {
  width: 370px;
  height: 395px;
  background-color: #f8f8f8;
  position: relative;
  transition: 0.3s;
}

.Post_link article:before {
  content: "";
  width: 370px;
  height: 220px;
  background-color: #111111;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: 0.5s;
}

.Post_link article:hover {
  background-color: #362f2d;
}

.Post_link article:hover:before {
  opacity: 0.7;
}

.Post_link article:hover h4 {
  color: #ffffff;
}

.Post_link article:hover p {
  color: #c7b299;
}

.Post_link article:hover .date {
  background-color: #c7b299;
  z-index: 1;
}

.Post_link article:hover .month {
  background-color: #a48d72;
  z-index: 1;
}

.Post_link article .date {
  width: 50px;
  height: 35px;
  display: block;
  background-color: #363636;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;
  color: #ffffff;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  transition: 0.4s;
}

.Post_link article .month {
  width: 50px;
  height: 25px;
  display: block;
  background-color: #252525;
  position: absolute;
  top: 55px;
  left: 20px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: #ffffff;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  transition: 0.4s;
}

.Post_link h4 {
  padding-left: 29px;
  padding-top: 30px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #555555;
  transition: 0.5s;
}

.Post_link p {
  padding-left: 29px;
  padding-top: 20px;
  padding-bottom: 27px;
  width: 297px;
  height: 36px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #8c8c8c;
  transition: 0.5s;
}

.slider_arrows {
  margin-top: 40px;
  padding-bottom: 80px;
  width: 60px;
  margin-left: 945px;
  display: flex;
  justify-content: space-between;
}

.slider_arrows a {
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 50%;
  border-color: #d1d1d1;
  text-decoration: none;
  color: #d1d1d1;
  line-height: 1.4;
  text-align: center;
}

.slider_arrows a:hover {
  color: #c7b299;
  border-color: #c7b299;
  transition: 0.3s;
}

.slider_arrows .fa-angle-left {
  padding-right: 2px;
}

.slider_arrows .fa-angle-right {
  padding-left: 2px;
}

.more {
  margin-left: 29px;
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: left;
  color: #c7b299;
  transition: 0.3s;
}

.more:hover {
  color: #f8f8f8;
}

.more:hover i {
  display: inline-block;
  transform: translate(5px, 0);
  opacity: 1;
}

.more i {
  transition: 0.3s;
  padding-left: 9px;
  opacity: 0.6;
}

.partners {
  background-image: url(../img/background.jpg);
  height: 450px;
}

.partners .partners_link {
  padding-top: 140px;
  margin-left: 406px;
  margin-right: 404px;
  display: flex;
  justify-content: space-between;
}

.partners a {
  line-height: 200px;
  transition: 0.4s;
}

.partners a img {
  display: inline-block;
  vertical-align: middle;
}

.partners a:hover {
  opacity: 0.6;
}

footer {
  background-color: #191919;
  border-top: 1px solid transparent;
}

.footblock {
  display: flex;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 374px;
  margin-top: 80px;
  padding-bottom: 60px;
}

.footblock .waxinfo {
  width: 260px;
}

.footblock .waxinfo a {
  margin: 0;
}

.footblock .waxinfo .more {
  color: #ffffff;
}

.footblock .waxinfo .more:hover {
  color: #c7b299;
}

.footblock .waxinfo p {
  padding-top: 30px;
  padding-bottom: 33px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: left;
  color: #555555;
}

.footblock .recent {
  width: 262px;
}

.footblock .recent a {
  text-decoration: none;
}

.footblock .recent a:hover h5 {
  color: #ffffff;
}

.footblock .recent a:hover p {
  color: #c7b299;
}

.footblock .recent h2 {
  padding-bottom: 13px;
  padding-top: 14px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.footblock .recent h5 {
  padding-bottom: 10px;
  margin-top: 19px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  text-align: left;
  color: #363636;
  transition: 0.3s;
}

.footblock .recent p {
  padding-bottom: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  text-align: left;
  color: #555555;
  border-bottom: 1px solid #252525;
  transition: 0.3s;
}

.footblock .recent .noborder {
  border: none;
}

.footblock .twit {
  width: 267px;
}

.footblock .twit h2 {
  padding-top: 14px;
  padding-bottom: 13px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.footblock .twit h5 {
  padding-top: 11px;
  padding-bottom: 23px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  text-align: left;
  color: #363636;
  border-bottom: 1px solid #252525;
}

.footblock .twit .noborder {
  border: none;
}

.footblock .twit p {
  padding-top: 17px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  text-align: left;
  color: #555555;
}

.footblock .twit a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s;
}

.footblock .twit a:hover {
  color: #b2b2b2;
}

.footblock .twit .hash {
  color: #00bff3;
}

.footblock .twit .hash:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footblock .widget {
  width: 280px;
}

.footblock .widget h2 {
  padding-top: 14px;
  padding-bottom: 26px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.footblock .widget .wpict {
  width: 130px;
  height: 98px;
  display: inline-block;
  margin-top: 10px;
}

.footblock .widget .wpict_right {
  padding-left: 10px;
}

.footblock .widget a {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
}

.footblock .widget a:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.last_footer {
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.last_footer .copyright {
  line-height: 1;
  padding-left: 376px;
  padding-top: 45px;
  width: 401px;
  padding-bottom: 52px;
}

.last_footer .copyright p {
  line-height: 1;
  display: flex;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  text-align: left;
  color: #555555;
}

.last_footer .copyright a {
  text-decoration: none;
  display: block;
  padding-right: 10px;
  color: #959595;
  transition: color 0.3s;
}

.last_footer .copyright a:hover {
  color: #c7b299;
}

.last_footer .copyright .faq {
  color: #c7b299;
  transition: color 0.3s;
}

.last_footer .copyright .faq:hover {
  color: #959595;
}

.last_footer .copyright span {
  padding-top: 2px;
  height: 13px;
  padding-left: 10px;
  display: inline-block;
  border-left: 1px solid #252525;
}

.last_footer .copyright .privacy {
  line-height: 1.1;
  vertical-align: middle;
  display: inline-block;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.last_footer .design {
  padding-top: 45px;
  padding-bottom: 52px;
  padding-right: 374px;
  width: 17.1875%;
}

.last_footer p {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  text-align: right;
  color: #555555;
}

.last_footer .design_span {
  padding-top: 2px;
  height: 13px;
  margin-left: 10px;
  padding-right: 10px;
  display: inline-block;
  border-left: 1px solid #252525;
}

.last_footer a {
  text-decoration: none;
  color: #959595;
  transition: color 0.3s;
}

.last_footer a:hover {
  color: #c7b299;
}

@media screen and (max-width: 605px) {
  .conteiner {
    width: 605px;
  }
  .slider {
    border-top: 1px solid transparent;
    height: 150px;
    width: 605px;
    background-image: url(../img/photo.jpg);
    background-repeat: round;
  }
  .slider label {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50px;
    left: 500px;
  }
  .slider .menu {
    visibility: hidden;
    margin-left: -100px;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 605px;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 150px;
    z-index: 3;
  }
  .slider .menu li {
    padding: 0px;
  }
  .slider .menu a {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    display: block;
    width: 605px;
    height: 30px;
    background-color: #555555;
    border: 1px solid #ffffff;
  }
  .slider .slendr {
    height: 150px;
  }
  .logo {
    margin-left: 40px;
  }
  .container {
    width: 605px;
  }
  .card,
  .search,
  .sliderblock,
  .slendr-control,
  .slendr-direction {
    display: none;
  }
  .topsection {
    min-height: 400px;
    width: 605px;
    background-color: #ffffff;
    background-image: none;
  }
  .topsection .links {
    padding-left: 0;
    padding-right: 0;
  }
  .topsection .textback {
    display: none;
  }
  .gside {
    display: none;
  }
  .barr {
    min-width: 605px;
    max-width: 605px;
  }
  .barr .barr_menu {
    display: none;
  }
  .barr .textback {
    max-width: 605px;
  }
  .barr .button {
    display: none;
  }
  .galary {
    max-width: 450px;
    flex-direction: column;
    margin-left: 150px;
    margin-bottom: 50px;
  }
  .videoblock {
    max-width: 605px;
    height: 705px;
    position: relative;
  }
  .videoblock:before {
    top: 210px;
    left: 285px;
  }
  .videoblock .play {
    position: absolute;
    top: 225px;
    left: 300px;
  }
  .videoblock .textvideo {
    top: 354px;
    left: 30px;
  }
  .videoblock .video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .videoblock .shadow {
    position: absolute;
    top: 210px;
    left: 285px;
  }
  .mobile {
    width: 605px;
    height: 615px;
  }
  .mobile img {
    margin-top: 265px;
    margin-left: 40px;
    height: 350px;
  }
  .mobile .text_mobile {
    margin-top: 40px;
    margin-left: -250px;
    width: 657px;
    display: flex;
  }
  .mobile .text_mobile h2 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #555555;
  }
  .mobile .text_mobile p {
    padding-top: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    text-align: left;
    color: #8c8c8c;
    padding-bottom: 40px;
  }
  .mobile .text_mobile ul {
    padding-left: 250px;
    list-style-type: none;
  }
  .mobile .text_mobile li {
    padding-left: 50px;
    background: url(../img/list-style.png) no-repeat left center;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #8c8c8c;
  }
  .Posts .textback {
    width: 605px;
  }
  .Post_link {
    margin-top: 60px;
    margin-left: 150px;
  }
  .Post_link article {
    margin-bottom: 30px;
  }
  .slider_arrows {
    display: none;
  }
  .partners {
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 200px;
  }
  .partners .partners_link {
    padding-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  .partners a {
    margin-left: 10px;
  }
  .partners a img {
    display: inline-block;
    vertical-align: middle;
    width: 105px;
  }
  footer {
    background-color: #191919;
    border-top: 1px solid transparent;
  }
  .footblock {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 600px;
  }
  .footblock .waxinfo {
    width: 260px;
  }
  .footblock .waxinfo .more {
    display: none;
  }
  .footblock .waxinfo p {
    display: none;
  }
  .footblock .recent {
    padding-left: 15px;
    width: 210px;
  }
  .footblock .recent h2 {
    font-size: 18px;
  }
  .footblock .recent h5 {
    display: none;
  }
  .footblock .recent p {
    display: none;
  }
  .footblock .recent .noborder {
    border: none;
  }
  .footblock .twit {
    width: 170px;
  }
  .footblock .twit h2 {
    font-size: 18px;
  }
  .footblock .twit h5 {
    display: none;
  }
  .footblock .twit p {
    display: none;
  }
  .footblock .twit a {
    display: none;
  }
  .footblock .widget {
    padding-left: 10px;
    width: 300px;
  }
  .footblock .widget h2 {
    font-size: 18px;
  }
  .footblock .widget .wpict {
    display: none;
  }
  .footblock .widget .wpict_right {
    display: none;
  }
  .last_footer {
    flex-direction: column;
  }
  .last_footer .copyright {
    line-height: 1;
    padding-top: 45px;
    padding-left: 100px;
    padding-bottom: 10px;
  }
  .last_footer .design {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 0px;
    width: 400px;
    padding-left: 50px;
  }
  form {
    display: none;
  }
}
