
.icon-link:before { content: '\e800'; } /* '' */
.icon-icon:before { content: '\e801'; } /* '' */
.icon-icon1:before { content: '\e802'; } /* '' */
.icon-icon2:before { content: '\e803'; } /* '' */
.icon-icon3:before { content: '\e804'; } /* '' */
.icon-icon-cart:before { content: '\e805'; } /* '' */
.icon-lupa:before { content: '\e806'; } /* '' */
.icon-icon-search:before { content: '\e807'; } /* '' */